@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --default:#000000;
    --secondary: #757575;
    --background-accent:#FFFF;
    --accent:#EB5757;
    --form-background : #f5f5f5;
}

body{
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 32px;
     font-style: normal;
     color: var(--default);
     height: 100vh;
     display: flex;
     padding: 30px;
    justify-content: center;
    background-color: #f5f5f5;
    

}

.todo {
    padding: 60px 30px;
    background-color: var(--background-accent);
    width: 90vw;
    border-radius: 16px;
}
.todo__content {
}
.todo__title {
    font-weight: bold;
    margin-bottom: 38px;
}
.todo__new {
    background-color: var(--form-background);
    --size: 60px;
    display: flex;
    overflow: hidden;
    
}
.todo__new-input {
    font-size: 18px;
    height:  var(--size);
    background-color: transparent;
    padding: 20px 24px;
    border-radius: 16px;
    color: var(--secondary );
    flex-grow: 1;
    outline: none;
    
}
.todo__new-button {
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    width: var(--size);
    height:  var(--size);
    line-height: var(--size);
    font-size: 32px;

    color: var(--secondary );
    display: flex;
    justify-content: center;
    align-items: center;
}